# Xcode
.DS_Store
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
DerivedData/

# CocoaPods
Pods/
*.xcworkspace
!default.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# Environment
.env
GoogleService-Info.plist